<section class="login-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="login-block text-center">
          <div class="login-block-inner">
            <h3 class="title">Reset your password</h3>
            <form class="cmn-form login-form" [formGroup]="resetPwdLogin" (ngSubmit)="onFormSubmit(resetPwdLogin.value)">
              <div class="frm-group">

                <input matInput type="text" name="f-name" id="f-name" formControlName="email"
                       [errorStateMatcher]="matcher" placeholder="email">
                <mat-error>
                  <span *ngIf="!resetPwdLogin.get('email').valid && resetPwdLogin.get('email').touched">Please enter your email</span>
                </mat-error>

              </div>
              <div *ngIf="isLoading" class="spinner-grow" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf="!error && response" class="alert alert-success" role="alert">
                Email sent !
              </div>
              <div *ngIf="error && response" class="alert alert-danger" role="alert">
                Error !
              </div>
              <div class="frm-group">
                <button type="submit" [disabled]="!resetPwdLogin.valid" class="submit-btn">Send Reset Password Email</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
