<!-- service-section start -->
<section class="service-section section-padding section-bg">
  <div class="service-chart-image">
    <img src="../assets/images/elements/macbook.png" alt="image">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-header text-center">
          <h2 class="section-title">Some of amazing Service</h2>
          <p>On insensible possession oh particular attachment at excellence in. The books arose but miles happy she.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="row margin-bottom-not-30">
          <div class="col-xl-12 col-lg-6">
            <div class="service-item d-flex">
              <div class="icon">
                <i class="flaticon-race-horse"></i>
              </div>
              <div class="content">
                <h3 class="title">Instant Sports Match Betting</h3>
                <p>Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see</p>
              </div>
            </div><!-- service-item end -->
          </div>
          <div class="col-xl-12 col-lg-6">
            <div class="service-item d-flex">
              <div class="icon">
                <i class="flaticon-employee"></i>
              </div>
              <div class="content">
                <h3 class="title">Player by Choice Betting</h3>
                <p>Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see</p>
              </div>
            </div><!-- service-item end -->
          </div>
          <div class="col-xl-12 col-lg-6">
            <div class="service-item d-flex">
              <div class="icon">
                <i class="flaticon-cricket-1"></i>
              </div>
              <div class="content">
                <h3 class="title">Ball by Ball Betting Cricket</h3>
                <p>Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see</p>
              </div>
            </div><!-- service-item end -->
          </div>
          <div class="col-xl-12 col-lg-6">
            <div class="service-item d-flex">
              <div class="icon">
                <i class="flaticon-development"></i>
              </div>
              <div class="content">
                <h3 class="title">Goal to Play Goal Opportunity</h3>
                <p>Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see</p>
              </div>
            </div><!-- service-item end -->
          </div>
          <div class="col-xl-12 col-lg-6">
            <div class="service-item d-flex">
              <div class="icon">
                <i class="flaticon-trophy"></i>
              </div>
              <div class="content">
                <h3 class="title">Lot of Chance to Winning</h3>
                <p>Her extensive perceived may any sincerity extremity. Indeed add rather may pretty see</p>
              </div>
            </div><!-- service-item end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service-section end -->
