<!-- feature-section start -->
<section class="feature-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h2 class="section-title">Butlar Feature</h2>
          <p>On insensible possession oh particular attachment at excellence in. The books arose but miles happy she.</p>
        </div>
      </div>
    </div>
    <div class="row margin-bottom-not-30">
      <div class="col-lg-4 col-sm-6">
        <div class="feature-item text-center">
          <div class="icon"><div class="rotate-icon"><i class="flaticon-shield"></i></div></div>
          <h3 class="title">Safe & Secure</h3>
          <p>May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined.</p>
        </div>
      </div><!-- feature-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="feature-item text-center">
          <div class="icon"><div class="rotate-icon"><i class="flaticon-presentation"></i></div></div>
          <h3 class="title">Training Mode</h3>
          <p>May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined.</p>
        </div>
      </div><!-- feature-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="feature-item text-center">
          <div class="icon"><div class="rotate-icon"><i class="flaticon-computer"></i></div></div>
          <h3 class="title">Full Market Depth</h3>
          <p>May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined.</p>
        </div>
      </div><!-- feature-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="feature-item text-center">
          <div class="icon"><div class="rotate-icon"><i class="flaticon-book"></i></div></div>
          <h3 class="title">Sports Book</h3>
          <p>May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined.</p>
        </div>
      </div><!-- feature-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="feature-item text-center">
          <div class="icon"><div class="rotate-icon"><i class="flaticon-one-finger-tap-gesture-of-outlined-hand-symbol"></i></div></div>
          <h3 class="title">Just a Click</h3>
          <p>May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined.</p>
        </div>
      </div><!-- feature-item end -->
      <div class="col-lg-4 col-sm-6">
        <div class="feature-item text-center">
          <div class="icon"><div class="rotate-icon"><i class="flaticon-discuss-issue"></i></div></div>
          <h3 class="title">24x Live Chating</h3>
          <p>May indulgence difficulty ham can put especially. Bringing remember for supplied her why was confined.</p>
        </div>
      </div><!-- feature-item end -->
    </div>
  </div>
</section>
<!-- feature-section end -->
