<!--  header-section start  -->

<header class="header-section">
  <div class="header-bottom">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a style="width: 12%" class="site-logo site-title" href="index.html"><img src="../assets/images/marki_tn.png" alt="site-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-toggle"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav main-menu ml-auto">
            <li [ngClass]="{'active' : pageName === 'Home'  }"><a routerLink="">Home</a></li>
            <li [ngClass]="{'active' : pageName === 'In-play'  }"><a routerLink="/in-play">In-play</a></li>
            <li [ngClass]="{'active' : pageName === 'Fixtures'  }"><a routerLink="/fixtures">Fixtures</a></li>
            <li [ngClass]="{'active' : pageName === 'Result'  }"><a routerLink="/results">Results</a></li>
            <li class="menu_has_children"><a routerLink="/PremierLeague/2">Standings</a>
              <ul class="sub-menu">
                <li [ngClass]="{'active' : pageName === 'Premier League' }" ><a routerLink="/PremierLeague/2">Premier League</a></li>
                <li [ngClass]="{'active' : pageName === 'Bundesliga'  }"><a routerLink="/Bundesliga/1">Bundesliga</a></li>
                <li [ngClass]="{'active' : pageName === 'LaLiga-Santander'  }"><a routerLink="/LaLiga-Santander/3">LaLiga Santander</a></li>
                <li [ngClass]="{'active' : pageName === 'Serie A'  }"><a routerLink="/SerieA/4">Serie A</a></li>
                <li [ngClass]="{'active' : pageName === 'Tunisian Professional League '}"><a routerLink="/Tunisian-Professional-League/42">Tunisian Professional League 1</a></li>
                <li [ngClass]="{'active' : pageName === 'Ligue 1'  }"><a routerLink="/Ligue1/5">Ligue 1</a></li>
              </ul>
            </li>
            <li [ngClass]="{'active' : pageName === 'MyBetSheets'  }"><a routerLink="/my-bet-sheets">My-Bet-Sheets</a></li>
            <li class="menu_has_children"><a href="#0">pages</a>
              <ul class="sub-menu">
                <li [ngClass]="{'active' : pageName === 'About-us' }" ><a routerLink="/about-us">About us</a></li>
                <li [ngClass]="{'active' : pageName === 'Service'  }"><a routerLink="/our-services">Services</a></li>
                <li [ngClass]="{'active' : pageName === 'Login'  }"><a routerLink="/login">Login</a></li>
                <li [ngClass]="{'active' : pageName === 'Registration'  }"><a routerLink="/register">Registration</a></li>
              </ul>
            </li>
            <li class="menu_has_children"><a href="#0">blog</a>
              <ul class="sub-menu">
                <li><a href="blog.html">Blog page</a></li>
                <li><a href="blog-details.html">blog single</a></li>
              </ul>
            </li>
            <li [ngClass]="{'active' : pageName === 'Contact-us'  }"><a routerLink="/contact-us">contact us</a>
            <li [ngClass]="{'active' : pageName === 'Bet Sheet'  }"><a routerLink="/bet-sheet"><i style="font-size: 20px" class="fa fa-shopping-cart"></i></a></li>

          </ul>
        </div>
      </nav>
    </div>
  </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->
