<!--  header-section start  -->

<header class="header-section">
  <div class="header-bottom">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="site-logo site-title" href="index.html"><img src="../assets/images/logo.png" alt="site-logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="menu-toggle"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav main-menu ml-auto">
            <li [ngClass]="{'active' : pageName === 'Home'  }"><a href="/home">Home</a></li>
            <li [ngClass]="{'active' : pageName === 'In-play'  }"><a href="/in-play">In-play</a></li>
            <li [ngClass]="{'active' : pageName === 'Promotion'  }"><a href="promotion.html">Promotion</a></li>
            <li [ngClass]="{'active' : pageName === 'Statistics'  }"><a href="statistics.html">Statistics</a></li>
            <li [ngClass]="{'active' : pageName === 'Result'  }"><a href="result.html">Results</a></li>
            <li class="menu_has_children"><a href="#0">pages</a>
              <ul class="sub-menu">
                <li [ngClass]="{'active' : pageName === 'About-us' }" ><a href="about.html">About us</a></li>
                <li [ngClass]="{'active' : pageName === 'Service'  }"><a href="service.html">Services</a></li>
                <li [ngClass]="{'active' : pageName === 'Login'  }"><a href="login.html">Login</a></li>
                <li [ngClass]="{'active' : pageName === 'Registration'  }"><a href="registration.html">Registration</a></li>
                <li [ngClass]="{'active' : pageName === 'Faq'  }"><a href="faq.html">FAQ</a></li>
                <li [ngClass]="{'active' : pageName === 'Privacy'  }"><a href="privacy.html">Privacy</a></li>
                <li [ngClass]="{'active' : pageName === 'Error-not-found'  }"><a href="error-404.html">ERROR Page</a></li>
              </ul>
            </li>
            <li class="menu_has_children"><a href="#0">blog</a>
              <ul class="sub-menu">
                <li><a href="blog.html">Blog page</a></li>
                <li><a href="blog-details.html">blog single</a></li>
              </ul>
            </li>
            <li [ngClass]="{'active' : pageName === 'Contact-us'  }"><a href="contact.html">contact us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->
