<!--<app-preloader></app-preloader>-->
<app-custom-cursor> </app-custom-cursor>
<app-header [pageName]="'Home'" ></app-header>

<app-banner ></app-banner>
<app-features-box > </app-features-box>
<app-games (loaded)="loaded=$event"></app-games>
<app-download-app-section ></app-download-app-section>
<app-steps-to-play ></app-steps-to-play>
<app-our-services ></app-our-services>
<app-testimonial ></app-testimonial>
<app-live-news ></app-live-news>

<app-footer ></app-footer>
<app-scroll-to-top ></app-scroll-to-top>
