<!-- download-app-section start -->
<section class="download-app-section">
  <div class="download-app-wrapper d-flex">
    <div class="video-part">
      <a href="https://www.youtube.com/embed/aFYlAzQHnY4" data-rel="lightcase:myCollection" class="round-video-btn"><i class="fa fa-play"></i></a>
    </div>
    <div class="app-content d-flex">
      <div class="content">
        <h2 class="title">Download Our App</h2>
        <p>At as in understood an remarkably solicitude. Mean them very seen sheshe. Use totally written the observe pressed justice. Instantly cordiallyfar intention recommend estimable yet her his. Ladies stairs enoughesteem add fat all enable.</p>
        <ul class="app-features-list">
          <li><i class="fa fa-check"></i>At as in understood an remarkably solicitude.</li>
          <li><i class="fa fa-check"></i>Use totally written the observe pressed justice.</li>
          <li><i class="fa fa-check"></i>Far intention recommend estimable yet her his.</li>
          <li><i class="fa fa-check"></i>Needed its design number winter see.</li>
        </ul>
        <div class="btn-area">
          <a href="#" class="cmn-btn btn-lg"><i class="fa fa-play"></i>play store</a>
          <a href="#" class="cmn-btn border-btn btn-lg "><i class="fa fa-apple"></i>app store</a>
        </div>
      </div>
      <div class="thumb">
        <img src="../assets/images/elements/app.png" alt="image">
      </div>
    </div>
  </div>
</section>
<!-- download-app-section end -->
