


<section class="login-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="login-block text-center">
          <div class="login-block-inner">
            <h3 class="title">login your account </h3>
            <form class="cmn-form login-form">
              <div class="frm-group">
                <input type="text" name="f-name" id="f-name" placeholder="Your Name">
              </div>
              <div class="frm-group">
                <input type="password" name="pass" id="pass" placeholder="Your Password">
              </div>
              <div class="frm-group">
                <button type="submit" class="submit-btn">Sign In</button>
              </div>
            </form>
            <p><a href="#0">Haven't your any account in here?</a><a href="#0">Forget password?</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
