<!-- error-section start -->
<section class="error-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="error-content text-center">
          <div class="parallax-container">
            <div class="error-image"><img src="assets/images/404.png" alt=""></div>
          </div>
          <h4 class="title">Opps! Page not found</h4>
          <p>The page you are looking is not available or has been removed.</p>
          <a href="index.html" class="cmn-btn btn-lg">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- error-section end -->

