<section class="login-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="login-block text-center">
          <div class="login-block-inner">
            <h3 class="title"> New Password Request</h3>
            <form class="cmn-form login-form" [formGroup]="newPasswordForm" (ngSubmit)="onFormSubmit(newPasswordForm.value)">
              <div class="frm-group">
                <input [(ngModel)]="password" matInput type="password" name="password" id="password" placeholder="Your New Password" formControlName="password"[errorStateMatcher]="matcher">
                <mat-error>
                  <span *ngIf="!newPasswordForm.get('password').valid && newPasswordForm.get('password').touched">Please enter your Password</span>
                </mat-error>
              </div>
              <div class="frm-group">
                <input matInput type="password" name="re-pass" id="re-pass" placeholder="Re-Enter Password" [errorStateMatcher]="matcher">
              </div>
              <div *ngIf="isLoading" class="spinner-grow" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf="!error && response" class="alert alert-success" role="alert">
                Password Updated
              </div>
              <div *ngIf="error && response" class="alert alert-danger" role="alert">
                Invalid token!
              </div>
              <div class="frm-group">
                <button type="submit" [disabled]="!newPasswordForm.valid && disabled" class="submit-btn">Reset your password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

