<app-custom-cursor></app-custom-cursor>
<!--  header-section start  -->
<app-header [pageName]="'Bet Sheet'"></app-header>
<ngx-spinner
  bdColor="rgba(51,51,51,0.4)"
  size="medium"
  color="#000040"
  type="square-jelly-box"
></ngx-spinner>

<!-- play-section start -->
<section class="play-section section-padding section-bg" id="section" *ngIf="existDataInSessionStorage && !loading">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h2 class="section-title">Bet & Playing Now</h2>
          <p>On insensible possession oh particular attachment at excellence in. The books arose but miles happy
            she.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="online-play-tab-part">
          <ul class="nav justify-content-around" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
                 aria-selected="true">
                <i class="flaticon-trophy"></i>
                <span>All sports</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="football-tab" data-toggle="tab" href="#football" role="tab"
                 aria-controls="football" aria-selected="false">
                <i class="flaticon-football"></i>
                <span>football</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cricket-tab" data-toggle="tab" href="#cricket" role="tab" aria-controls="cricket"
                 aria-selected="false">
                <i class="flaticon-cricket"></i>
                <span>cricket</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tennis-tab" data-toggle="tab" href="#tennis" role="tab" aria-controls="tennis"
                 aria-selected="false">
                <i class="flaticon-tennis-racket"></i>
                <span>tennis</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="bascketball-tab" data-toggle="tab" href="#bascketball" role="tab"
                 aria-controls="bascketball" aria-selected="false">
                <i class="flaticon-basketball"></i>
                <span>bascketball</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="baseball-tab" data-toggle="tab" href="#baseball" role="tab"
                 aria-controls="baseball" aria-selected="false">
                <i class="flaticon-softball"></i>
                <span>baseball</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab" aria-controls="more"
                 aria-selected="false">
                <i class="flaticon-menu"></i>
                <span>more sports</span>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
              <div class="play-table-part">
                <div class="play-table">
                  <table>
                    <thead>
                    <tr>
                      <th class="team-name">name of the team</th>
                      <th class="goal">Time</th>
                      <th class="bet-num">Date</th>
                      <th class="choice-team">Chosen Team</th>
                      <th class="choice-team"><i class="fa fa-trash" aria-hidden="true"></i>
                      </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let match of betMatchs">
                      <td>
                        <div class="team-name-part">
                          <i class="fa fa-futbol-o"></i>
                          <div class="content">
                            <span class="name">{{match.match.equipe_A}}</span>
                            <span class="name">{{match.match.equipe_B}}</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="score">
                          <span class="first-team-score">{{match.time}}</span>
                        </div>
                      </td>
                      <td>
                        <span class="bet-count-num">{{match.date}}</span>
                      </td>
                      <td>
                        <span class="bet-count-num">{{match.winner}}</span>
                      </td>
                      <td>
                        <i class="fa fa-minus-circle deleteButton" (click)="delete(match)" ></i>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-lg-5">
                  <div class="col-lg-5">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input min="0" [(ngModel)]="amount" type="number" (change)="estimateGain()" class="form-control input-lg" aria-label="Amount (to the nearest dollar)">
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-2">
                  <a style="color: white;"  href="" data-toggle="modal" data-target="#modalRegisterForm"(click)="submitSheet()" class="cmn-btn btn-lg"><i class="fa fa-play"></i> submit</a>
                </div>

                <div class="col-lg-5">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Estimated gain</span>
                    </div>
                    <input [(ngModel)]="estimatedGain" type="number" class="form-control input-lg" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
              </div>
              <app-payment [amount]="amount"></app-payment>


            </div>
          </div>
        </div><!-- online-play-tab-part end -->
      </div>
    </div>
  </div>
</section>
<!-- play-section end -->


<div class="container" *ngIf="!existDataInSessionStorage && !loading">
  <br>
  <br>
  <h4 style="text-align: center">Your Cart is Empty </h4>
  <div class="text-center"><img src="../assets/empty/empty2c.png" alt="">
    <br>

    <a style="color: white;"  routerLink="/fixtures"  class="cmn-btn btn-lg" >Bet Now <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  <br>
  <div class="gap"></div>
</div>

<app-footer *ngIf="!loading"></app-footer>
