.single-item1 {
  background-color: var(--main-color);
  border-radius: 30px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-flex: 0 0 calc(33.333333% - 15px);
  flex: 0 0 calc(33.333333% - 15px);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
}
.single-item1:hover {
  background-color: var(--second-color);
}
.single-item1 span,
.single-item1 p {
  color: #ffffff;
  line-height: 1;
}

.selectedBetSheet:hover{
  background: #ff3952;
  cursor: pointer;
  color: white !important;
}

.selectedBetSheet:visited{
  background: #ff3952;
  cursor: pointer;
  color: white !important;
}

.selectedBetSheet:focus{
  background: #ff3952;
  cursor: pointer;
  color: white !important;
}


.betSheetName:hover{
  color: white;
}
.betSheetName:focus{
  color: white;
}


