

<app-custom-cursor></app-custom-cursor>
<!--  header-section start  -->
<app-header [pageName]="'My-Bet-Sheets'"></app-header>

<section class="play-section section-padding section-bg">
  <div class="container">
    <div class="row online-play-tab-part">
      <!--
                <ul class="nav justify-content-around" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
                      <i class="flaticon-trophy"></i>
                      <span>All sports</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="football-tab" data-toggle="tab" href="#football" role="tab" aria-controls="football" aria-selected="false">
                      <i class="flaticon-football"></i>
                      <span>football</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="cricket-tab" data-toggle="tab" href="#cricket" role="tab" aria-controls="cricket" aria-selected="false">
                      <i class="flaticon-cricket"></i>
                      <span>cricket</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tennis-tab" data-toggle="tab" href="#tennis" role="tab" aria-controls="tennis" aria-selected="false">
                      <i class="flaticon-tennis-racket"></i>
                      <span>tennis</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="bascketball-tab" data-toggle="tab" href="#bascketball" role="tab" aria-controls="bascketball" aria-selected="false">
                      <i class="flaticon-basketball"></i>
                      <span>bascketball</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="baseball-tab" data-toggle="tab" href="#baseball" role="tab" aria-controls="baseball" aria-selected="false">
                      <i class="flaticon-softball"></i>
                      <span>baseball</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab" aria-controls="more" aria-selected="false">
                      <i class="flaticon-menu"></i>
                      <span>more sports</span>
                    </a>
                  </li>
                </ul>
      -->

      <div  class="col-md-3 tab-content" id="myTabContefnt">

        <!--              <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">-->
        <div class="play-table-part">
          <div class="play-table">
            <table>
              <thead>
              <tr>
                <th class="goal">BetSheet</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 1</span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 2</span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">BetSheet 3 </span>
                    </div>
                  </div>
                </td>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!--              </div>-->

      </div>

      <div style="padding-left: 0px;padding-right: 0px" class="col-md-6 tab-content" id="myTabContent">

        <!--              <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">-->
        <div class="play-table-part">
          <div class="play-table">
            <table>
              <thead>
              <tr>
                <th class="goal">Team A</th>
                <th class="goal">Team B</th>
                <th class="choice-team">Time</th>
                <th class="bet-num">Live score</th>
                <th class="goal">Details</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name">Barcelona</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name goal">Barcelona</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="score">
                    <span class="first-team-score">2</span>
                    <span class="second-team-score">2</span>
                  </div>
                </td>
                <td>
                  <div class="score">
                    <span class="first-team-score">2</span>
                    <span class="second-team-score">2</span>
                  </div>
                </td>
                <td>
                    <div class="single-item1"
                         (click)="displayOrHideDetails()"
                    >
                      <span style="font-size: 14px;padding-left: 9px;padding-right: 10px;">Details
                        <i *ngIf="betSheetHidden"
                           style="cursor: pointer"
                           aria-hidden="true"
                           class="fa fa-plus-circle"
                        >
                        </i>
                       <i *ngIf="!betSheetHidden"
                          style="cursor: pointer"
                          class="fa fa-minus-circle"
                          aria-hidden="true"
                       >
                       </i>
                    </span>
                    </div>
                </td>

              </tr>


              </tbody>
            </table>
          </div>
        </div>
        <!--              </div>-->

      </div>

      <div *ngIf="plus" class="col-md-3 tab-content" id="myTabContdefnt">

        <!--              <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">-->
        <div class="play-table-part">
          <div class="play-table">
            <table>
              <thead>
              <tr>
                <th class="goal">BetSheet</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="team-name-part">
                    <div class="content">
                      <span class="name">
                        <ul>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                          <li>betsheet info</li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </td>

              </tr>


              </tbody>
            </table>
          </div>
        </div>
        <!--              </div>-->

      </div>

    </div>

  </div><!-- online-play-tab-part end -->

</section>

<app-footer></app-footer>
