<app-custom-cursor></app-custom-cursor>
<!--  header-section start  -->
<app-header [pageName]="'My-Bet-Sheets'"></app-header>
<app-preloader *ngIf="loading"></app-preloader>
<section class="play-section section-padding section-bg" *ngIf="betSheetList !== [] && !loading ">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title">My Bet Sheets</h2>

    </div>
    <div class="row online-play-tab-part">


      <!--
                <ul class="nav justify-content-around" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">
                      <i class="flaticon-trophy"></i>
                      <span>All sports</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="football-tab" data-toggle="tab" href="#football" role="tab" aria-controls="football" aria-selected="false">
                      <i class="flaticon-football"></i>
                      <span>football</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="cricket-tab" data-toggle="tab" href="#cricket" role="tab" aria-controls="cricket" aria-selected="false">
                      <i class="flaticon-cricket"></i>
                      <span>cricket</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="tennis-tab" data-toggle="tab" href="#tennis" role="tab" aria-controls="tennis" aria-selected="false">
                      <i class="flaticon-tennis-racket"></i>
                      <span>tennis</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="bascketball-tab" data-toggle="tab" href="#bascketball" role="tab" aria-controls="bascketball" aria-selected="false">
                      <i class="flaticon-basketball"></i>
                      <span>bascketball</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="baseball-tab" data-toggle="tab" href="#baseball" role="tab" aria-controls="baseball" aria-selected="false">
                      <i class="flaticon-softball"></i>
                      <span>baseball</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab" aria-controls="more" aria-selected="false">
                      <i class="flaticon-menu"></i>
                      <span>more sports</span>
                    </a>
                  </li>
                </ul>
      -->

      <div class="col-md-3 tab-content" id="myTabContefnt">

        <!--              <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">-->
        <div class="play-table-part">
          <div class="play-table">
            <table>
              <thead>
              <tr>
                <th class="goal">BetSheet</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let sheet of betSheetList" (click)="selectSheet(sheet)">
                <td class="selectedBetSheet">
                  <div class="team-name-part selectedBetSheet">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name betSheetName">BetSheet {{sheet.id}}</span>
                    </div>
                  </div>
                </td>

              </tr>


              </tbody>
            </table>
          </div>
        </div>
        <!--              </div>-->

      </div>

      <div style="padding-left: 0px;padding-right: 0px" class="col-md-6 tab-content" id="myTabContent">

        <!--              <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">-->
        <div *ngIf="selectedSheet" class="play-table-part">
          <div class="play-table">
            <table>
              <thead>
              <tr>
                <th class="goal">Team A</th>
                <th class="goal">Team B</th>
                <th class="choice-team">Finished</th>
                <th class="bet-num">Winner</th>
              </tr>
              </thead>
              <tbody>
              <!-- Debut bet Match -->
              <tr class="selectedBetSheet" *ngFor="let match of selectedSheet.betMatches">
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name betSheetName">{{match.home_name | minimizeLength:15}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="team-name-part">
                    <i class="fa fa-futbol-o"></i>
                    <div class="content">
                      <span class="name goal betSheetName">{{match.away_name}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="team-name-part">
                    <span *ngIf="match.finished" class="name betSheetName">YES</span>
                    <span *ngIf="!match.finished" class="name betSheetName">NO</span>
                  </div>
                </td>
                <td>
                  <div class="team-name-part">
                    <span class="namebetSheetName">{{match.winner}}</span>
                  </div>
                </td>


              </tr>
              <!-- Fin bet Match -->


              </tbody>
            </table>
          </div>
        </div>
        <!--              </div>-->

      </div>

      <div *ngIf="selectedSheet" class="col-md-3 tab-content" id="myTabContdefnt">

        <!--              <div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">-->
        <div class="play-table-part">
          <div class="play-table">
            <table>
              <thead>
              <tr>
                <th class="goal">Sheet Details</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="team-name-part">
                    <div class="content">
                      <span class="name">
                        <ul>
                          <li>Id  : {{selectedSheet.id}}</li>
                          <li>Validated : {{selectedSheet.validated}}</li>
                          <li>Number of matchs : {{selectedSheet.nbmatch}}</li>
                          <li>Status : <span *ngIf="selectedSheet.finished">Finished</span>
                          <span *ngIf="!selectedSheet.finished">In progress</span></li>
                          <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                              <i *ngIf="!selectedSheet.finished" class="fa fa-spinner"></i>
                            </div>
                              <div class="col-lg-4"></div>
                          </div>
                          <li *ngIf="selectedSheet.finished">
                            <span *ngIf="selectedSheet.wonSheet">You won the sheet !</span>
                            <span *ngIf="!selectedSheet.wonSheet">You lose the sheet !</span>
                          </li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </td>

              </tr>


              </tbody>
            </table>
          </div>
        </div>
        <!--              </div>-->

      </div>

    </div>

  </div><!-- online-play-tab-part end -->

</section>

<div class="container" *ngIf="betSheetList === [] ">
  <br>
  <br>
  <h4 style="text-align: center">You have no bet sheets </h4>

  <div class="text-center"><img src="../assets/empty/empty2c.png" alt="">
    <br>

    <a style="color: white;"  routerLink="/fixtures"  class="cmn-btn btn-lg" >Bet Now <i class="fa fa-arrow-circle-right"></i></a>
  </div>
  <br>
  <div class="gap"></div>
</div>

<!-- scroll-to-top start -->
<app-scroll-to-top></app-scroll-to-top>
<!-- scroll-to-top end -->

<app-footer *ngIf="!loading"></app-footer>
