<!-- step-section start -->
<section class="step-section section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-header text-center">
          <h2 class="section-title">Play With Butlar.</h2>
          <p>On insensible possession oh particular attachment at excellence in. The books arose but miles happy she.</p>
        </div>
      </div>
    </div>
    <div class="row step-line margin-bottom-not-8">
      <div class="col-lg-4 col-md-4">
        <div class="step-item text-center">
          <div class="icon"><i class="fa fa-sign-in"></i></div>
          <h3 class="title">Sing Up</h3>
          <p>Ye to misery wisdom plenty polite to as. Prepared interest proposal it he exercise.</p>
        </div>
      </div><!-- step-item end -->
      <div class="col-lg-4 col-md-4">
        <div class="step-item text-center">
          <div class="icon"><i class="flaticon-wallet"></i></div>
          <h3 class="title">deposit</h3>
          <p>Ye to misery wisdom plenty polite to as. Prepared interest proposal it he exercise.</p>
        </div>
      </div><!-- step-item end -->
      <div class="col-lg-4 col-md-4">
        <div class="step-item text-center">
          <div class="icon"><i class="flaticon-crown"></i></div>
          <h3 class="title">play</h3>
          <p>Ye to misery wisdom plenty polite to as. Prepared interest proposal it he exercise.</p>
        </div>
      </div><!-- step-item end -->
    </div>
  </div>
</section>
<!-- step-section end -->
